- var description = "転職を目指す社会人の方やWeb業界の即戦力を目指す学生さんにぴったりのWeb制作基礎講座。ゼロから学べるWeb制作講座でクリエイターとしての即戦力就活をバッチリサポート！大阪本町にてchatbox.school開校です！"
meta(charset='utf-8')
title chatbox.school
meta(name='description', content=description)
link(rel='canonical', href='http://school.chatbox-inc.com')
meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
meta(property='og:title', content='chatbox.school｜sitetitle')
meta(property='og:image', content='./../../img/ogp.png')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@')
meta(name='twitter:creator', content='@')
meta(name='twitter:title', content='sitetitle｜sitetitle')
meta(name='twitter:description', content=description)
meta(name='twitter:image', content='./../../img/ogp.png')
link(rel='styleSheet', href='./assets/css/normalize.css')
link(rel='styleSheet', href='./assets/css/common.css')
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" media="all")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
script(type="text/javascript" src="./assets/js/common.js")
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-66526811-6', 'auto');ga('send', 'pageview');</script>

