doctype html
html
  head
    meta(charset='utf-8')
    title sitetitle｜sitetitle
    meta(name='description', content='')
    link(rel='canonical', href='.')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(property='og:title', content='sitetitle｜sitetitle')
    meta(property='og:image', content='ogp.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@')
    meta(name='twitter:creator', content='@')
    meta(name='twitter:title', content='sitetitle｜sitetitle')
    meta(name='twitter:description', content='')
    meta(name='twitter:image', content='ogp.png')
body

